{% if page_obj and page_obj.paginator.num_pages > 1 %}
{% with param=page_param|default:'page' %}
<nav aria-label="Pagination" class="pagination">
    {% if page_obj.has_previous %}
    <a href="?{% if pagination_query %}{{ pagination_query }}&amp;{% endif %}{{ param }}={{ page_obj.previous_page_number }}"
      >
      Previous
    </a>
    {% else %}
    <span>
      Previous
    </span>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
      <span class="current">
        {{ num }}
      </span>
      {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
      <a href="?{% if pagination_query %}{{ pagination_query }}&amp;{% endif %}{{ param }}={{ num }}"
        >
        {{ num }}
      </a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?{% if pagination_query %}{{ pagination_query }}&amp;{% endif %}{{ param }}={{ page_obj.next_page_number }}"
      >
      Next
    </a>
    {% else %}
    <span>
      Next
    </span>
    {% endif %}
</nav>
{% endwith %}
{% endif %}
